appdirs==1.4.3
attrs==19.3.0
black==19.10b0
bleach==3.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
coverage==5.0.3
cryptography==2.8
docutils==0.16
effect==1.1.0
entrypoints==0.3
flake8==3.7.9
flit==2.2.0
flit-core==2.2.0
idna==2.8
importlib-metadata==1.5.0
intreehooks==1.0
jeepney==0.4.2
Jinja2==2.11.1
keyring==21.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
mypy==0.761
mypy-extensions==0.4.3
packaging==20.1
pathspec==0.7.0
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.5
pytest-black==0.3.8
pytest-cov==2.8.1
pytest-runner==5.2
pytoml==0.1.21
readme-renderer==24.0
regex==2020.1.8
requests==2.22.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
setuptools-scm==3.5.0
six==1.14.0
toml==0.10.0
tqdm==4.42.1
twine==3.1.1
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
zipp==2.2.0
